nav {
    max-height: 80px;
}

.searchForm {
    visibility : hidden;
}

body { 
    background: url(../images/jake-bradley-LnBisJEyVFE-unsplash.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

section{
    opacity: 0.8;
}

.point{
    cursor: pointer;
    text-decoration: overline;
}

