nav {
    max-height: 80px;
}

.searchForm {
    display : none;
}

body { 
    background: url(../images/jake-bradley-LnBisJEyVFE-unsplash.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

section{
    opacity: 0.8;
}